@import "tailwindcss";
@plugin "daisyui";

html,
body {
    height: full;
    @apply text-white;
    font-family: Inter, system-ui, sans-serif;
    background: radial-gradient(circle at 50% -10%, rgba(255, 255, 255, 0.12), transparent 34%), radial-gradient(circle at 82% 18%, rgba(255, 255, 255, 0.055), transparent 28%), linear-gradient(180deg, #030405 0%, #060708 42%, #090B0D 100%);
}

@layer base {
    html {
        color-scheme: dark; /* important: disables browser dark overrides */
    }

    button {
        cursor: pointer;
    }
}

@font-face {
    font-family: "Merriweather";
    src: url("/fonts/Merriweather_24pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("/fonts/Merriweather_24pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("/fonts/Merriweather_24pt-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "FiraCode";
    src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}